GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL='models/embedding-001'
OPENAI_API_KEY=''
OPENAI_CHAT_MODEL='gpt-4o-mini'
OPENAI_EMBEDDING_MODEL='text-embedding-3-small'
DATABASE_URL=
DATABASE_URL_INTERNAL='postgresql+psycopg://postgres:postgres@postgres:5432/rag'
PG_VECTOR_COLLECTION_NAME=
PDF_PATH='/app/document.pdf'
FRONTEND_ORIGIN='http://localhost:5173'
VITE_API_URL='http://localhost:8000'
AUTO_INGEST_ON_START='true'
